.carousel-wrapper {
  position: relative;
}

/* Make the slick dots vertical and move to right */
.slick-dots {
  position: absolute !important;
  bottom: auto !important;
  display: flex !important;
  margin-top: 20px !important;
  gap: auto;
  justify-content: center;
  list-style: none;
  z-index: 1;
  background: transparent;
}

.slick-dots li button:before {
  font-size: 10px !important;
  color: rgba(255, 255, 255, 0.664) !important;
  border: 1px solid rgba(255, 255, 255, 0.664) !important;
  opacity: 0.5 !important;
  border-radius: 10px;
  transition: all 0.3s;
}

.slick-dots li.slick-active button:before {
  color: rgb(255, 255, 255) !important;
  border: none !important;
  transform: scale(2.5) !important;
  opacity: 0.75 !important;
}
